//- 
//- About page
//- 

doctype html
html
	head
		title About

		meta(charset="utf-8")

		//- stylesheets
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="/stylesheets/about.css")
		link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css")
		link(rel='stylesheet', href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")

		//- javascript
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		script(src="/javascript/ui.js")

	body
		#layout
			a#menuLink.menu-link(href='#menu')
				//- Hamburger icon 
				span.glyphicon.glyphicon-th-list

			#menu
				.pure-menu.pure-menu-open
					a.pure-menu-heading PCC
					ul
						li
							a(href='/') Home 
						li
							a(href='/news') News
						li.menu-item-divided.pure-menu-selected
							a(href='/about') About
						li
							a(href='/people') People
						li
							a(href='/photos') Photos
						li
							a(href='/calendar') Calendar
						li
							a(href='/contact') Contact

			#main
				.header
					h1 About
				.content
					.pure-g 
						.pure-u-1-1#about-para
							h3.content-subhead About Us
							p
								| Welcome! <br/>
								| Stroll into Campus Club on a Friday evening and you will hear the sound of chess clocks, 
								| friendly chatter, and laughter radiating from the Prospect Room. You will see people from all 
								| walks of life gathered together at tables of chess boards and free food, enjoying a casual game of 
								| blitz or bughouse. You will meet undergraduates pursuing diverse concentrations at Princeton, as 
								| well as members of the Princeton area including local residents, elementary school students, and 
								| visiting math professors. <br/>
								| Whether this is your first or fortieth time at the Princeton Chess Club, welcome to company and 	
								| soul food to kick off your weekend! <br/>
								| Our mission is simple: to provide excellent chess opportunities to anyone who is interested - 
								| regardless of level of skill or age. We aim to meet and inspire each individual, and to welcome 
								| all to our community of chess fans. <br/>
								| Learn! Play! Eat! And join us for a warm evening of conversation, games, and fun! <br/>
								| — Chess Club Officers
						.pure-u-1-1
							h3.content-subhead Mission 
							p
								| The mission of the Princeton Chess Club is to provide people of all ages and backgrounds 
								| with access to excellent chess opportunities in a community that nurtures and encourages 
								| personal engagement.
						.pure-u-1-1
							h3.content-subhead History
							p
								| Founded in 1896, when a group of Princeton men formed a team to play against Yale, Columbia, 
								| and Harvard, the Princeton Chess Club continues to pursue its mission of creating an open 
								| and welcoming chess community at Princeton. Every semester, our members take part in 	
								| tournaments across the East Coast to engage other richly talented, passionate chess enthusiasts. 
								| The Princeton Chess Club additionally hosts lectures on topics such as “Mathematics and Chess” 
								| and run a prison outreach program in Trenton, where volunteering club members play against 
								| sixty prisoners. <br/>
								| The Princeton Chess Club’s record of achievement is growing. The Princeton Chess Club’s 
								| teams have won first and second place at the Princeton Collegiate Open, the second-largest 
								| college team tournament in the nation. In addition, the Club’s top team won the Eastern Team 
								| Championships and was the Division III Pan American Intercollegiate Team co-champions, the 
								| latter of which the Club host at Princeton in 2012. In 2014, the Princeton Chess Club’s top team 
								| won a historic second-year-in-a-row victory at the Eastern Team Championships.