//- 
//- Contact Info Page
//- 

doctype html
HTML
	head
		title Contact

		meta(charset="utf-8")

		//- stylesheets
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="/stylesheets/contact.css")
		link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css")
		link(rel='stylesheet', href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")

		//- javascript
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		script(src="/javascript/ui.js")

	body
		#layout
			a#menuLink.menu-link(href='#menu')
				//- Hamburger icon 
				span.glyphicon.glyphicon-th-list

			#menu
				.pure-menu.pure-menu-open
					a.pure-menu-heading PCC
					ul
						li
							a(href='/') Home
						li
							a(href='/news') News
						li
							a(href='/about') About
						li
							a(href='/people') Officers
						li
							a(href='/photos') Photos
						li
							a(href='/calendar') Calendar
						li.menu-item-divided.pure-menu-selected
							a(href='/contact') Contact

			#main
				.header
					h1 Contact
				.content
					.pure-g 
						.pure-u-1-1
							form.pure-form#email-form(name='email-form', action='/contact', method='post')
								fieldset
									legend Subscribe to our listserv! Enter your Princeton email address.
									input.type#entry(type='email', placeholder='Email', name='email')
									input.type#entry(type='password', placeholder='Password', name='password')
									button.pure-button.pure-button-primary#email-button(type='submit', value='Submit') Submit
						.pure-u-1-1
							h5 Questions, comments? Contact us at princeton.chess.club@gmail.com

