//- 
//- Home Page
//- 

doctype html
HTML
	head
		title Princeton Chess Club

		meta(charset="utf-8")

		//- stylesheets
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="/stylesheets/home.css")
		link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css")
		link(rel='stylesheet', href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")

		//- javascript
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		script(src="/javascript/ui.js")

	body
		#layout
			a#menuLink.menu-link(href='#menu')
				//- Hamburger icon 
				span.glyphicon.glyphicon-th-list

			#menu
				.pure-menu.pure-menu-open
					a.pure-menu-heading(href='#') PCC
					ul
						li.menu-item-divided.pure-menu-selected
							a(href='/') Home
						li
							a(href='/news') News
						li
							a(href='/about') About
						li
							a(href='/people') People
						li
							a(href='/photos') Photos
						li
							a(href='/calendar') Calendar
						li
							a(href='/contact') Contact

			#main
				.header
					img#coverlogo(src="/images/Princeton-Chess-Club-Logo-h.png")
				.content
					h2.content-subhead Welcome to the new Princeton Chess Club website!
					h2.content-subhead#meetings Meetings
					p
						| Campus Club, 5 Prospect Ave, Princeton, NJ, 08544
						br
						| 7-9 pm Friday nights
				

