//- 
//- People
//- 

doctype html
html
	head
		title Officers

		meta(charset="utf-8")

		//- stylesheets
		link(rel='stylesheet', href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="/stylesheets/people.css")
		link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css")

		//- javascript
		script(src="/javascript/ui.js")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		

	body
		#layout
			a#menuLink.menu-link(href='#menu')
				//- Hamburger icon 
				span.glyphicon.glyphicon-th-list

			#menu
				.pure-menu.pure-menu-open
					a.pure-menu-heading PCC
					ul
						li
							a(href='/') Home
						li
							a(href='/news') News
						li
							a(href='/about') About
						li.menu-item-divided.pure-menu-selected
							a(href='/people') Officers
						li
							a(href='/photos') Photos
						li
							a(href='/calendar') Calendar
						li
							a(href='/contact') Contact

			#main
				.header
					h1 Officers
				.content
					.pure-g
						.pure-u-1-1#all-officers
							#accordion.panel-group
								.panel.panel-default
									.panel-heading
										h4.panel-title
											a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
												.pure-u-1-3
													img.pure-img-responsive.img-thumbnail.officer-pic(src="http://i.imgur.com/eZ050C1.gif", alt="George Liu", title="George Picture")
												.pure-u-2-3.info-card
													h4 Co-President 
													h4 George Liu '15  
													h4 gsliu
									#collapseOne.panel-collapse.collapse
										.panel-body.bio
												| George Liu '15 is bouncing off the walls to serve as Co-President of the Princeton Chess Club. He hails from Rochester, NY where he served as captain of his high school chess team and won the Marchand Open U1400 section. A self-taught chess player, George is proud to be taking an active leadership role in supporting the chess community at Princeton.
								.panel.panel-default
									.panel-heading
										h4.panel-title
											a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
												.pure-u-1-3
													img.pure-img-responsive.img-thumbnail.officer-pic(src="http://i.imgur.com/FBgiAtH.jpg", alt="Austin Wang", title="Austin Picture")
												.pure-u-2-3.info-card
													h4 Co-President
													h4 Austin Wang '15
													h4 austinw
									#collapseTwo.panel-collapse.collapse
										.panel-body.bio
											| Austin Wang '15 is proud to serve as a Co-President of the Princeton Chess Club, which has been a pivotal part of his Princeton experience.  A native New Jersey resident, Austin has played in tournaments since age 6 and has also served as captain of his high school chess team.  He hopes that the rising popularity of the Princeton Chess Club will continue over the next few years and reach out to more people.
								.panel.panel-default
									.panel-heading
										h4.panel-title
											a(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
												.pure-u-1-3
													img.pure-img-responsive.img-thumbnail.officer-pic(src="http://i.imgur.com/ZBqO91g.jpg", alt="Patrick Ding", title="Austin Picture")
												.pure-u-2-3.info-card		
													h4 Webmaster
													h4 Patrick Ding '15
													h4 pding
									#collapseThree.panel-collapse.collapse
										.panel-body.bio
											| Patrick Ding '15 manages the club website. He is from Rochester, NY. When he was little he went to some after school chess programs here and there, but that was the extent of his chess training.
								.panel.panel-default
									.panel-heading
										h4.panel-title
											a(data-toggle='collapse', data-parent='#accordion', href='#collapseFour')
												.pure-u-1-3
													img.pure-img-responsive.img-thumbnail.officer-pic(src="http://i.imgur.com/xEUSVI2.jpg", alt="Alan Du", title="Alan Picture")
												.pure-u-2-3.info-card
													h4 Treasurer
													h4 Alan Du '17
													h4 aydu
									#collapseFour.panel-collapse.collapse
										.panel-body.bio
											| Alan Du '17 proudly oversees the club's endowment. An Ohio native, he has won multiple state and state runner-up titles in the past. Interestingly, he began playing chess at age eight after his father accidentally bought him a chess set instead of a checkers set. Alan oftentimes thinks about all the blitz and bughouse games that would have been lost had his father brought home a checkers set. Alan is very excited for another year with the Princeton Chess Club! 
								.panel.panel-default
									.panel-heading
										h4.panel-title
											a(data-toggle='collapse', data-parent='#accordion', href='#collapseFive')
												.pure-u-1-3
													img.pure-img-responsive.img-thumbnail.officer-pic(src="http://i.imgur.com/S6bOCZS.jpg", alt="Anna Matlin", title="Anna Picture")
												.pure-u-2-3.info-card
													h4 Secretary
													h4 Anna Matlin '17
													h4 amatlin
									#collapseFive.panel-collapse.collapse
										.panel-body.bio
											| Anna Matlin '17 has been playing chess since the age of six. She won the North American Youth Chess Championship (Girls U16) in 2010 and earned the title of national master in 2014. Besides playing and studying chess independently, Anna enjoys teaching private and group lessons. Though her official role in the club is secretary, she's also open to being called the Secretary of Sicilian Defense. 
								.panel.panel-default
									.panel-heading
										h4.panel-title
											a(data-toggle='collapse', data-parent='#accordion', href='#collapseSix')
												.pure-u-1-3
													img.pure-img-responsive.img-thumbnail.officer-pic(src="http://i.imgur.com/DCta9zv.jpg", alt="Grant Rheingold", title="Grant Picture")
												.pure-u-2-3.info-card		
													h4 Events Manager
													h4 Grant Rheingold '17
													h4 grantr
									#collapseSix.panel-collapse.collapse
										.panel-body.bio
											| Grant Rheingold '17 comes from Brookline, MA, where he involved himself in chess in high school both competitively as captain of the chess team and communally as president of the chess club. Grant is excited to serve as Events Manager for the Princeton Chess Club, and he plans to organize work to make the club more open and accessible. He looks forward to serving with the other officers and interacting with the chess community in Princeton in the upcoming year.
