doctype html
html
	head
		title People

		meta(charset="utf-8")

		//- stylesheets
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="/stylesheets/people.css")
		link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css")
		link(rel='stylesheet', href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")

		//- javascript
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		script(src="/javascript/ui.js")

	body
		#layout
			a#menuLink.menu-link(href='#menu')
				//- Hamburger icon 
				span.glyphicon.glyphicon-th-list

			#menu
				.pure-menu.pure-menu-open
					a.pure-menu-heading(href='#') PCC
					ul
						li
							a(href='/') Home
						li
							a(href='/news') News
						li
							a(href='/about') About
						li.menu-item-divided.pure-menu-selected
							a(href='/people') People
						li
							a(href='/photos') Photos
						li
							a(href='/calendar') Calendar
						li
							a(href='/contact') Contact

			#main
				.header
					h1 People
				.content
					.pure-g
						.pure-u-1-2#all-officers
							img.pure-img-responsive.img-thumbnail#officer-pic(src='http://i.imgur.com/U12J1l9l.jpg', alt='Officers', title='Officers')
						.pure-u-1-2#officer-table-div
							table.table#officer-table
								thead 
									tr
										th.name-title Role
										th.name-title Name 
										th.name-title netid
								tr
									td.name-title Co-President
									td.name-title George Liu '15 
									td.name-title gsliu
								tr
									td.name-title Co-President
									td.name-title Austin Wang '15
									td.name-title austinw
								tr
									td.name-title Treasurer
									td.name-title Alan Du '17
									td.name-title aydu
								tr
									td.name-title Secretary
									td.name-title Anna Matlin '17
									td.name-title amatlin
								tr
									td.name-title Events Manager
									td.name-title Grant Rheingold '17
									td.name-title grantr
